<div class="container">
    <form>

        <app-header
            titulo="Agregar pago"
            (outputVolver)="volver()"
            [botonSave]="true"
            (outputSave)="save()">
        </app-header>
        
        <div class="row contenedor-default mt-2">

            <div class="mb-2">
                <label for="codigo">Codigo del evento</label>
                <div class="d-flex">
                    <div class="col-lg-3 col-md-9">
                        <input type="text" class="form-control" name="codigoEvento" [(ngModel)]='codigo' [disabled]="botonBuscarDisabled"/>
                    </div>
                    <div class="col-lg-3 col-md-3 ms-2">
                        <button type="submit" (click)="buscar()" [disabled]="botonBuscarDisabled" type="button" [ngClass]="botonBuscarDisabled ? 'btn btn-secondary' : 'btn btn-primary'">Buscar</button>
                    </div>
                </div>
            </div>

            <div *ngIf='error.condicional' class="alert alert-danger">
                {{error.mensaje}}
            </div>

            <div *ngIf="pago.codigo != ''">
                <div class="col-lg-3 col-md-12 mb-2">
                    <label for="evento">Evento</label> 
                    <input type="text" class="form-control" name="evento" [value]='pago.nombreEvento' disabled/>
                </div>
                <div class="col-lg-3 col-md-12 mb-2">
                    <label for="fecha">Dia evento</label> 
                    <input type="text" class="form-control" name="fecha" [value]="pago.fecha | date: 'dd/MM/yy HH:mm'" disabled/>
                </div>
                <div class="col-lg-3 col-md-12 mb-2">
                    <label for="monto">Monto</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">$</div>
                        </div>
                        <input type="number" class="form-control" name="monto" [(ngModel)]='pago.monto'>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 mb-2">
                    <label for="medioDePago">Medio de Pago</label> 
                    <select class="form-select" [(ngModel)]="pago.medioDePago" name="medioDePago">
                        <option *ngFor="let medioDePago of listaMedioDePago | orderAbmById" [value]="medioDePago">{{medioDePago | formatEnum}}</option>
                    </select>
                </div>
                <div class="col-lg-3 col-md-12 mb-2">
                    <label for="concepto">Concepto</label> 
                    <select class="form-select" [(ngModel)]="pago.concepto" name="concepto">
                        <option *ngFor="let concepto of listaConcepto | orderAbmById" [value]="concepto">{{concepto | formatEnum}}</option>
                    </select>
                </div>
                <div *ngIf="pago.concepto == 'CUOTA'">
                    <div class="col-lg-3 col-md-12">
                        <label for="numeroCuota">Numero de cuota</label> 
                        <input type="text" class="form-control" name="numeroCuota" [(ngModel)]="pago.numeroCuota"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>