<div class="container">
    <form>

        <app-header
            titulo="Agregar Tipo Evento"
            (outputVolver)="volver()"
            [botonSave]="true"
            (outputSave)="save()">
        </app-header>

        <div class="row contenedor-default mt-2">

            <div class="form-group col-lg-4 col-md-12">
                <label for="nombre">Nombre</label> 
                <input type="text" [(ngModel)]='tipoEvento.nombre' class="form-control" name="nombre">
            </div>
            <div class="form-group col-lg-4 col-md-12">
                <label for="duracion">Tipo de duracion</label> 
                <select class="form-select" [(ngModel)]="tipoEvento.duracion" name="duracion">
                    <option *ngFor="let duracion of listaDuracion | orderAbmById" [value]="duracion">{{duracion | formatEnum}}</option>
                </select>
            </div>
        </div>

        <div class="row contenedor-default mt-2">    
            <div class="form-group col-lg-4 col-md-12">
                <label for="cantidadDuracion">Tiempo de duracion</label> 
                <input type="time" [(ngModel)]='tipoEvento.cantidadDuracion' class="form-control" name="cantidadDuracion"> 
            </div>
        </div>

        <div class="row contenedor-default mt-2">

            <div class="form-group col-lg-4 col-md-12">
                <label for="capacidadAdultos">Capacidad para Adultos</label> 
                <input type="text" [(ngModel)]='tipoEvento.capacidad.capacidadAdultos' class="form-control" name="capacidadAdultos">
            </div>
            <div class="form-group col-lg-4 col-md-12">
                <label for="capacidadNinos">Capacidad para Niños</label> 
                <input type="text" [(ngModel)]='tipoEvento.capacidad.capacidadNinos' class="form-control" name="capacidadNinos">
            </div>
        </div>

    </form>

</div>