.preferencia_vehiculo {
  /* TODO : Ojo porque se está escribiendo en este css y en el perfilUsuario.css */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 4rem;
}

.chip {
  /* TODO: Habría que cambiarle el nombre a chip en vez de boton*/
  background-color: var(--color-primario);
  font-size: 0.95rem;
  color: white;

  margin-right: 2em;
  padding: 0 0.85em 0 0.85em;
  text-align: center;
  border-radius: 60px;
  border: solid;
  border-color: var(--color-primario);
  border-width: 0.25em;
  height: 1.8rem;
  width: 8rem;
  cursor: pointer;
}
.preferencia_vehiculo_bottons {
  /* TODO: Si hay un css para las preferencias del vehículo sería mejor agrupar todo ahí*/
  display: grid;
  grid-template-columns: repeat(5,1fr);
  width: 45%;
  cursor: pointer;
  
}
.preferencias_titulos_contenedor{
  display : flex
}

.preferencia_vehiculo_header--estilo{
  color: crimson;

}

.marca{
  background-color: var(--color-primario);
}

.warning-position--chip{
  right: 39rem;


}
.chip--deseleccionado {
  /* TODO: Habría que cambiarle el nombre a chip en vez de boton*/
  background-color: var(--color-quinario);
  color: var(--color-primario);
}
.app-chip{
  display: flex;
  flex-direction: column;
  width: 10rem;
  align-items: center;

}

@media (min-width: 401px) and (max-width: 768px) {
  .preferencia_vehiculo {
    height: 100%;
    width: 100%;
  }

  .chip {
    /* TODO: No se está reutilizando el boton primario de main*/
    margin-right: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 8rem;
    
  }
  .preferencia_vehiculo_bottons{
    grid-template-columns: repeat(auto-fill, minmax(10.0rem, 1fr));
    width: 100%;
   
  }
  
}

@media (max-width: 400px) {
  .preferencia_vehiculo {
    /* TODO : Ojo porque se está escribiendo en este css y en el preferencia_vehiculo.css (si hay un css especifico quizás sea mejor tenerlo ahí) */
    height: 100%;
  }

  .preferencia_vehiculo_header {
    /* TODO: Si hay un css para las preferencias del vehículo sería mejor agrupar todo ahí*/
    padding-top: 0.85rem;
    padding-bottom: 0.85rem;
  }

  .preferencias_titulos_contenedor{
    flex-direction: column;
  }
  

  .preferencia_vehiculo_bottons {
    /* TODO: Si hay un css para las preferencias del vehículo sería mejor agrupar todo ahí*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .chip {
    /* TODO: Si hay un css para las preferencias del vehículo sería mejor agrupar todo ahí*/
    margin-bottom: 1.5rem;
    width: 25%;
  }
}
