<div class="container">

    <app-header
        titulo="Editar Extras"
        (outputVolver)="volver()"
        [botonSave]="true"
        (outputSave)="save()">
    </app-header>

    <div class="row contenedor-default mt-2">
        <div class="form-group col-lg-4 mb-2">
            <h5>Evento</h5>
            <input type="text" class="form-control" id="evento" [value]="evento.nombre" disabled>
        </div>
        <div class="form-group col-lg-4 mb-2">
            <h5>Codigo</h5>
            <input type="text" class="form-control" id="codigo" [value]="evento.codigo" disabled>
        </div>
    </div>

    <div class="d-flex flex-column flex-md-row justify-content-between mt-2">
        
        <div class="row col-md-6 col-sm-12 mb-3">
            <div class="contenedor-default h-100">
                <div class="form-group col-12 mb-4">
                    <h5>Extras fijos</h5> 
                    <div class="extra-container-edit">
                        <div class="extra-overflow">
                            <div class="extra-box" id="listaExtra" *ngFor="let extra of listaExtra | orderAbmByNombre; let i=index">
                                <app-extra-checkbox 
                                    (outputExtraPresupuesto)="sumExtraPresupuesto($event)"
                                    [listaExtra]="evento.listaExtra"
                                    [i]="i"
                                    [extra]="extra">
                                </app-extra-checkbox>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-12 mb-2">
                    <h5>Extras variables</h5> 
                    <div class="extra-container-edit">
                        <div class="extra-overflow">
                            <div class="extra-box" id="listaExtraVariable" *ngFor="let extraVariable of listaExtraVariable | orderAbmByNombre; let i=index">
                                <app-extra-variable-checkbox
                                    (outputExtraPresupuesto)="sumExtraPresupuesto($event)"
                                    [listaExtra]="evento.listaExtraVariable"
                                    [i]="i"
                                    [extra]="extraVariable">
                                </app-extra-variable-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row col-md-6 col-sm-12 mb-3">
            <div class="contenedor-default h-100 d-flex flex-column">
                
                <div class="row mb-4 mt-2">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="extraOtro" class="form-label font-weight-bold">Extra otro</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">$</div>
                                </div>
                                <input type="number" class="form-control" id="extraOtro" [(ngModel)]="evento.extraOtro" (change)="sumPresupuesto()">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="descuento" class="form-label font-weight-bold">Descuento</label>
                            <div class="input-group mb-2">
                                <input type="number" class="form-control" id="descuento" [(ngModel)]="evento.descuento" (change)="sumPresupuesto()">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">%</div>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>

                <hr class="mt-auto">

                <div class="row mb-4 mt-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nombreTipoEvento" class="form-label font-weight-bold">Tipo Evento</label>
                            <input type="text" class="form-control" id="nombreTipoEvento" [(ngModel)]="evento.tipoEventoExtra.nombre" disabled>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="precioTipoEvento" class="form-label font-weight-bold">Precio Base</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">$</div>
                                </div>
                                <input type="number" class="form-control" id="precioTipoEvento" [(ngModel)]="evento.tipoEventoExtra.precio" disabled>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-8 mb-4 mt-4">
                    <h5 for="presupuesto">Presupuesto</h5>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">$</div>
                        </div>
                        <input type="number" class="form-control" id="presupuesto" [(ngModel)]="presupuesto" disabled/>
                    </div>
                </div>
                
                <div class="col-12">
                    <h5 id="titulo_precio_base_sub_tipo_evento"></h5>
                </div>
            </div>
        </div>
    </div>
</div>