<div class="row text-center col-9">
    <div class="form-group col-10">
        <div class="row col-11">
            <div class="form-group col-3">
                <label for="">Precio base</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">$</div>
                    </div>
                    <input type="text" class="form-control" name="precio{{i}}" [(ngModel)]="precio.precio">
                </div>
            </div>
            <div class="form-group col-4">
                <label for="desde">Desde</label> 
                <select class="form-select" name="desde{{i}}" [(ngModel)]="precio.desde">
                    <option *ngFor="let mes of listaMes | orderAbmById" [value]="mes.id">{{mes.nombre}}</option>
                </select>
            </div>

            <div class="form-group col-4">
                <label for="hasta">Hasta</label> 
                <select class="form-select" name="hasta{{i}}" [(ngModel)]="precio.hasta">
                    <option *ngFor="let mes of listaMes | orderAbmById" [value]="mes.id">{{mes.nombre}}</option>
                </select>
            </div>
            <div class="form-group col-1">
                <button type="submit" (click)="quitarPrecio(precio.id)"><i class="fas fa-trash text-danger fa-lg"></i></button>
            </div>
        </div>
    </div>
</div>