<div class="container">
    <app-header
      titulo="Especificaciones"
      (outputVolver)="volver()">
    </app-header>
    
    <div class="row contenedor-default mt-2">
      <tr *ngFor="let especificacion of listaEspecificaciones | orderAbmByNombre">
        <div class="form-group col-sm-12 col-lg-6 mb-3">
              <label class="form-label" for="detalle">{{ especificacion.nombre }}</label>
              <input name="username" class="form-control" value="{{especificacion.detalle}}" disabled> 
          </div>
      </tr>
    </div>

</div>
