<div class="container">

    <app-header
        titulo="Editar usuario"
        (outputVolver)="volver()"
        [botonSave]="true"
        (outputSave)="save()">
    </app-header>

    <div class="row contenedor-default mt-2">
        <form>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="nombre" class="form-label font-weight-bold">Nombre</label> 
                    <input type="text" [(ngModel)]='usuario.nombre' name="nombre" class="form-control">
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="apellido" class="form-label font-weight-bold">Apellido</label> 
                    <input type="text" [(ngModel)]='usuario.apellido' name="apellido" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="nombre_usuario" class="form-label font-weight-bold">Nombre de usuario</label> 
                    <input type="text" [(ngModel)]='usuario.username' name="username" class="form-control">
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="email" class="form-label font-weight-bold">E-Mail</label> 
                    <input type="email" [(ngModel)]='usuario.email' name="email" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="fechaNacimiento" class="form-label font-weight-bold">Fecha de Nacimiento</label>
                    <input type="date" [(ngModel)]='usuario.fechaNacimiento' name="fechaNacimiento" class="form-control">
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="rol" class="form-label font-weight-bold">Rol</label> 
                    <select class="form-select" [(ngModel)]="usuario.cargo" name="rol">
                        <option *ngFor="let rol of listaRol" [value]="rol">{{rol}}</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>