<div class="panel-paginacion">

    <!-- Cantidad de registros -->
    <p class="cont-pag hide-on-phone">Cantidad de registros: {{cantidadRegistros}}</p>

    <!-- Paginacion menos de 50 -->
    <nav *ngIf="cantidadRegistros <= 50 && cantidadRegistros > 10 " aria-label="Page navigation example" class="cont-reg">
        <ul class="pagination">
            <li class="page-item" ><button class="btn btn-primary atras" 
                [class.disabled] ="paginaActual == 0"(click)="atras()">Atras</button></li>
            
            <li class="page-item" *ngFor="let pagina of cantidadPaginas; let i = index">    
                <button class="page-link scuare" 
                    [ngClass]="(getLimites(paginaActual)[0] - 1 + i == paginaActual) ? 'active': ''" 
                    (click)="irPagina(getLimites(paginaActual)[0] - 1 + i)">
                    {{getLimites(paginaActual)[0] + i}}
                </button>
            </li>
            
            <li class="page-item" >
                <button class="btn btn-primary siguiente" 
                [class.disabled] ="(paginaActual + 1) * 10 > cantidadRegistros" 
                (click)="siguiente()">Siguiente</button></li>
        </ul>
    </nav>

    <!-- Paginacion mas de 50 -->
    <nav *ngIf="cantidadRegistros > 50" aria-label="Page navigation example" class="cont-reg">
        <ul class="pagination">
            <li class="page-item">
                <button class="btn btn-primary atras" 
                    [class.disabled] ="paginaActual == 0"
                    (click)="atras()">Atras</button>
            </li>
            
            <li class="page-item">
                <button class="page-link scuare" 
                    [ngClass]="(0 == paginaActual) ? 'active': ''" 
                    (click)="irPagina(0)">1</button>
            </li>

            <li class="page-item">
                <button class="page-link scuare" 
                *ngIf = "paginaActual > 4"
                (click)="irPagina(getPaginaMitadInferior())">...</button>
            </li>

            <li class="page-item" *ngFor="let pagina of getPaginacionIntermedia()">    
                <button class="page-link square" [ngClass]="paginaActual == pagina ? 'active' : ''" 
                (click)="irPagina(pagina)">
                    {{pagina + 1}}
                </button>
            </li>
            
            <li class="page-item" >
                <button class="page-link scuare" 
                *ngIf = "cantidadPaginas.length - 6 >= this.paginaActual"
                (click)="irPagina(getPaginaMitadSuperior())" >...</button>
            </li>

            <li class="page-item">
                <button class="page-link" 
                    [ngClass]="paginaActual == cantidadPaginas.length - 1 ? 'active' : ''" 
                    (click)="irPagina(cantidadPaginas.length - 1)">
                    {{cantidadPaginas.length}}
                </button>
            </li>

            <li class="page-item">
                <button class="btn btn-primary siguiente" 
                    [class.disabled] ="(paginaActual + 1) * 10 > cantidadRegistros" 
                    (click)="siguiente()">Siguiente</button>
            </li>
        </ul>
    </nav>

</div>