<div class="abm">

    <div class="abm-content">
    
        <app-abm-data-table-header
            titulo = 'Clientes'
            (outputBuscar)="updatePalabraBuscar($event)"
            (outputPaginaActual)="updatePaginaActual($event)">
        </app-abm-data-table-header>

        <app-abm-data-table-usuario
            [listaItems]="listaItems"
            [listaHeader]="listaHeader"
            [buscar]="buscar"
            [esCliente]="true">
        </app-abm-data-table-usuario>

    </div>

    <app-abm-data-table-paginacion
        (outputPaginaActual)="updatePaginaActual($event)"
        [paginaActual]="paginaActual"
        [listaItems]="listaItems"
        [cantidadRegistros]="cantidadRegistros"
        [cantidadPaginas]="cantidadPaginas">
    </app-abm-data-table-paginacion>
</div>