.nuevo-evento{
    margin-right: 0.8rem;
    margin-left: 0.8rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: 95%;
}

.nuevo-evento-step{
    padding: 1em;
    border-radius: 10px;
    background-color: var(--color-terciario);
    height: 68vh;
}

.botones-nuevo-evento{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.boton-min-width {
    min-width: 4.5em;
}

.invalid-validator{
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: #dc3545;
}

.label-with-error{
    display: flex;
    justify-content: space-between;
}

.servicio-container{
    display: flex;
    flex-direction: column;
    height: 62vh;
}

.extra-container{
    display: flex;
    flex-direction: column;
    height: 45vh;
}

.extra-overflow{
    overflow-y: auto;
}

.extra-overflow::-webkit-scrollbar {
    width: 0.2em;
}

.extra-overflow::-webkit-scrollbar-track {
    background: var(--color-quinario);
}

.extra-overflow::-webkit-scrollbar-thumb {
    background: var(--color-cuaternario);
    border-radius: 10px;
}

.extra-overflow::-webkit-scrollbar-thumb:hover {
    background: var(--color-septenario);
}

.extra-box{
    width: 98%;
}

@media (max-width: 768px) {
    .hide-on-phone{
        display: none;
    }

}