<div class="container">
    <form> 

        <app-header
            titulo="Agregar Extra"
            (outputVolver)="volver()"
            [botonSave]="true"
            (outputSave)="save()">
        </app-header>

        <div class="row contenedor-default mt-2">
             <div *ngIf="!edicion" class="col-lg-4 col-md-12 form-group mb-4">
                <label for="servicio">Servicio</label>
                <select class="form-select" (change)="onServicioChange()" [(ngModel)]='extra.id' name="servicio">
                    <option *ngFor="let extra of listaExtra | orderAbmByNombre" [value]="extra.id">{{extra.nombre}}</option>
                    <option value="0">Otro</option>
                </select>
            </div>

            <div class="col-lg-4 col-md-12 form-group mb-4" *ngIf="otro" [@fadeOut]>
                <label for="nombre">Nombre</label> 
                <input type="text" [(ngModel)]='extra.nombre' class="form-control" id="nombre" name="nombre" [disabled]="edicion">
            </div>

            <div class="col-lg-4 col-md-12 form-group mb-4" *ngIf="otro" [@fadeOut]>
                <label for="tipoExtra">Tipo Extra</label> 
                <select class="form-select" [(ngModel)]="extra.tipoExtra" name="tipoExtra" [disabled]="edicion">
                    <option *ngFor="let tipoExtra of listaTipoExtra" [value]="tipoExtra">{{tipoExtra | formatEnum}}</option>
                </select>            
            </div>
        </div>
 
        <app-tipo-evento-seleccionador
            [genericItem]="extra">
        </app-tipo-evento-seleccionador>
    </form>
</div>