<div class="abm">

    <div class="abm-content">

        <app-abm-data-table-header
            titulo = 'Eventos'
            [realizoBusqueda] = "realizoBusqueda"
            (outputBuscar)="updatePalabraBuscar($event)"
            (outputPaginaActual)="updatePaginaActual($event)">
        </app-abm-data-table-header>

        <app-abm-data-table-evento
            (outputPagos)="pagos($event)"
            (outputExtra)="extras($event)"
            (outputCatering)="catering($event)"
            (outputHora)="hora($event)"
            (outputVer)="ver($event)"
            (outputEliminar)="eliminar($event)"
            [listaItems]="listaItems"
            [listaHeader]="listaHeader"
            [buscar]="buscar">
        </app-abm-data-table-evento>
        
    </div>

    <app-abm-data-table-paginacion
        (outputPaginaActual)="updatePaginaActual($event)"
        [paginaActual]="paginaActual"
        [listaItems]="listaItems"
        [cantidadRegistros]="cantidadRegistros"
        [cantidadPaginas]="cantidadPaginas"
        [cantidadEventos]="cantidadEventos">
    </app-abm-data-table-paginacion>

</div>