<div class="container">

    <app-header
        titulo="Editar Catering"
        (outputVolver)="volver()"
        [botonSave]="true"
        (outputSave)="save()">
    </app-header>

    <div class="row contenedor-default mt-2">
        <div class="form-group col-lg-4 col-md-12 mb-4">
            <h5>Evento</h5>
            <input type="text" class="form-control" id="evento" [value]="evento.nombre" disabled>
        </div>
        <div class="form-group col-lg-4 col-md-12 mb-4">
            <h5>Codigo</h5>
            <input type="text" class="form-control" id="codigo" [value]="evento.codigo" disabled>
        </div>
        
        <div class="form-group col-lg-4 col-md-12 mb-4 d-flex align-items-end pb-1">
            <div class="card-checkbox w-100">
                <div class="form-check m-0 d-flex align-items-center">
                    <input class="form-check-input me-2 mt-0" type="checkbox" [(ngModel)]="agregarCatering" name="agregarCateringCheckbox" id="agregarCateringCheckbox">
                    <label class="form-check-label mb-0 cursor-pointer" for="agregarCateringCheckbox">Agregar servicio de catering</label>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-column flex-md-row justify-content-between mt-2" *ngIf="agregarCatering">
        
        <div class="row col-md-6 col-sm-12 mb-3">
            <div class="contenedor-default h-100">
                <div class="form-group col-12 mb-4 extraCheckbox">
                    <h5>Tipo Catering</h5> 
                    <div class="extra-container-edit">
                        <div class="extra-overflow">
                            <div class="extra-box" id="listaExtraTipoCatering" *ngFor="let tipoCatering of listaExtraTipoCatering | orderAbmByNombre; let i = index">
                                <app-extra-checkbox 
                                    (outputExtraOtro)="cleanExtraOtroCheckbox()"
                                    (outputExtraPresupuesto)="sumExtraTipoCatering($event)"
                                    [listaExtra]="evento.listaExtraTipoCatering"
                                    [i]="i"
                                    [extra]="tipoCatering">
                                </app-extra-checkbox>
                            </div> 
                        </div>
                    </div>
                </div>

                <div class="form-group col-12 mb-2">
                    <h5>Extras Catering</h5> 
                    <div class="extra-container-edit">
                        <div class="extra-overflow">
                            <div class="extra-box" id="listaExtraCatering" *ngFor="let cateringVariable of listaExtraCateringVariable | orderAbmByNombre; let i = index">      
                                <app-extra-variable-checkbox
                                    (outputExtraPresupuesto)="sumExtraCatering($event)"
                                    [listaExtra]="evento.listaExtraCateringVariable"
                                    [i]="i"
                                    [extra]="cateringVariable">
                                </app-extra-variable-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row col-md-6 col-sm-12 mb-3">
            <div class="contenedor-default h-100 d-flex flex-column">
                
                <div class="form-group mb-4">
                    <input class="form-check-input me-2" type="checkbox" [(ngModel)]="cateringOtro" name="cateringOtroCheckbox" id="cateringOtroCheckbox" (change)="cleanTipoCateringForCateringOtro()">
                    <label class="form-check-label" for="cateringOtroCheckbox"> Catering Otro </label>
                    <br>
                    <small class="form-text text-muted">(Permite ingresar un precio personalizado de plato)</small>
                </div>

                <div *ngIf="cateringOtro" class="row mb-4">
                    <div class="col-md-5">
                        <label for="cateringOtroPrecio" class="form-label font-weight-bold">Precio del plato</label> 
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">$</div>
                            </div>
                            <input type="number" class="form-control" [(ngModel)]="evento.cateringOtro" min="0" oninput="this.value = Math.abs(this.value)" (change)="sumCateringPresupuesto()" name="cateringOtroPrecio"/>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <label for="descripcionCatering" class="form-label font-weight-bold">Descripcion</label> 
                        <input type="text" class="form-control" [(ngModel)]='evento.cateringOtroDescripcion' name="descripcionCatering">
                    </div>
                </div>

                <hr class="mt-auto">

                <div class="form-group col-8 mb-4 mt-4">
                    <h5 for="presupuesto_catering">Presupuesto</h5> 
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">$</div>
                        </div>
                        <input type="number" class="form-control" id="presupuesto_catering" [(ngModel)]="presupuestoCatering" disabled/>
                    </div>
                </div>

                <div class="form-group col-12">
                    <div class="alert alert-secondary mb-0">
                        <i class="fas fa-users me-2"></i> La cantidad de adultos del evento es: <strong>{{evento.capacidad.capacidadAdultos}}</strong>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>