<div class="container">

    <app-header
        titulo="Editar Dia y Horario"
        (outputVolver)="volver()"
        [botonSave]="true"
        (outputSave)="save()">
    </app-header>
    

    <div class="row contenedor-default mt-2">
        <div class="form-group col-lg-4 col-md-12 mb-4">
            <h5>Evento</h5>
            <input type="text" class="form-control" id="evento" [value]="evento.nombre" disabled>
        </div>
        <div class="form-group col-lg-4 col-md-12 mb-4">
            <h5>Codigo</h5>
            <input type="text" class="form-control" id="codigo" [value]="evento.codigo" disabled>
        </div>
    </div>

    <div class="row contenedor-default mt-2">
        <div class="form-group col-lg-4 col-md-12 mb-3">
            <h5>Fecha de evento</h5>
            <input type="date" class="form-control" id="date" [(ngModel)]="fechaInicio" name="fechaInicio"/>
        </div>
    </div>

    <div class="row contenedor-default mt-2">
        <app-hora-minutos
            [inicio]="inicio"
            [fin]="fin"
            [hastaElOtroDiaCheckbox]="hastaElOtroDiaCheckbox"
            (outputHastaElOtroDiaCheckbox)="changeHastaElOtroDiaCheckbox()">
        </app-hora-minutos>
    </div>

    <div class="col-md-8">
        <div id="fechaNoDisponible" class="d-none">
            <div class="alert alert-danger" role="alert">
                <p><strong>Fecha no disponible,</strong> Tenga en cuenta que entre evento y evento calcula 1 hora de margen.</p>
            </div>
        </div>
        <div id="fechaDisponible" class="d-none col-md-8">
            <div class="alert alert-success" role="alert"><strong>Fecha disponible</strong></div>
        </div>
        <div id="listaEvento"></div>
    </div>

</div>