<div class="sidebar-collapsed bg-light" *ngIf="!isLogin()">
  <a class="sidebar-collapsed-toggle" (click)="toggleSidebar()">
    <i class="fas fa-bars"></i>
  </a>

  <ul class="sidebar-list">
    <li class="sidebar-collapsed-list-item">
      <a class="sidebar-collapsed-icon" (click)="volverAgendas()">
        <i class="fas fa-book fa-lg"></i>
      </a>
    </li>
    <li class="sidebar-collapsed-list-item" *ngIf="isInAgenda()">
      <a class="sidebar-collapsed-icon" (click)="volverCalendario()">
        <i class="fa fa-calendar fa-lg"></i>
      </a>
    </li>
    <li class="sidebar-collapsed-list-item" *ngIf="isInAgenda()">
      <a class="sidebar-collapsed-icon" (click)="saveEvento()">
        <i class="fa fa-plus fa-lg"></i>
      </a>
    </li>
    <li class="sidebar-collapsed-list-item" *ngIf="isInAgenda()">
      <a class="sidebar-collapsed-icon" (click)="panelAdmin()">
        <i class="fa fa-cog fa-lg"></i>
      </a>
    </li>
  </ul>
</div>

<div class="sidebar" [ngClass]="{ active: isSidebarActive }" *ngIf="!isLogin()">
  <div class="sidebar-header d-flex justify-content-center align-items-center">
    <img src="./assets/logoBBS.png" width="30" height="32" />
  </div>

  <ul class="sidebar-list">
    <li class="sidebar-list-item">
      <a class="sidebar-icon" (click)="volverAgendas()">
        <i class="icon fas fa-book fa-lg"></i>
        <span>Agendas</span>
      </a>
    </li>
    <li class="sidebar-list-item" *ngIf="isInAgenda()">
      <a class="sidebar-icon" (click)="volverCalendario()">
        <i class="icon fa fa-calendar fa-lg"></i>
        <span>Calendario</span>
      </a>
    </li>
    <li class="sidebar-list-item" *ngIf="isInAgenda()">
      <a class="sidebar-icon" (click)="saveEvento()">
        <i class="icon fa fa-plus fa-lg"></i>
        <span>Evento</span>
      </a>
    </li>
    <li class="sidebar-list-item" *ngIf="isInAgenda()">
      <a class="sidebar-icon" (click)="panelAdmin()">
        <i class="icon fa fa-cog fa-lg"></i>
        <span>Dashboard</span>
      </a>
    </li>
  </ul>
</div>
