<div class="container">
  <form>
    <app-header
        titulo="Edicion Empresa"
        [botonSave]="true"
        (outputSave)="save()"
        (outputVolver)="volver()">
    </app-header>

    <div class="row contenedor-default mt-2">
      <!-- Nombre de la empresa -->
      <div class="form-group col-sm-12 col-lg-5">
          <label for="nombre">Nombre</label>
          <input type="text" [(ngModel)]="empresa.nombre" name="nombre" class="form-control">
      </div>

      <!-- Teléfono de la empresa -->
      <div class="form-group col-sm-12 col-lg-5">
          <label for="telefono">Teléfono</label>
          <input type="text" [(ngModel)]='empresa.telefono' name="telefono" class="form-control">
      </div>

      <!-- E-mail de la empresa -->
      <div class="form-group col-sm-12 col-lg-5">
          <label for="email">E-Mail</label>
          <input type="email" [(ngModel)]='empresa.email' name="email" class="form-control">
      </div>

      <!-- Calle de la empresa -->
      <div class="form-group col-sm-12 col-lg-5">
          <label for="calle">Calle</label>
          <input type="text" [(ngModel)]='empresa.calle' name="calle" class="form-control">
      </div>

      <!-- Número de la empresa -->
      <div class="form-group col-sm-12 col-lg-5">
          <label for="numero">Número</label>
          <input type="number" [(ngModel)]='empresa.numero' name="numero" class="form-control">
      </div>

      <!-- Municipio de la empresa -->
      <div class="form-group col-sm-12 col-lg-5">
          <label for="municipio">Municipio</label>
          <input type="text" [(ngModel)]='empresa.municipio' name="municipio" class="form-control">
      </div>

    </div>
  </form>
</div>
