@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  color: var(--color-octario);
  text-decoration: none;
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

button {
  all: unset;
  cursor: pointer;
}

button:focus {
  outline: orange 5px auto;
}

:root {
  --color-primario: #0d6efd;
  --color-secundario: dodgerblue;
  --color-terciario: whitesmoke;
  --color-cuaternario: #666666;
  --color-quinario: white;
  --color-sexenario: #363636;
  --color-septenario: #555555;
  --color-octavo: black;
  --color-noveno: #dc3545;
  --hover-bg-color-primary: rgba(90, 90, 90, 0.2);
  --hover-bg-color-secondary: rgba(240, 240, 240, 0.2);
  --espacio-separacion: 0.5rem;
  --sombra: 0 0.35rem 0.35rem var(--color-terciario);
}

.abm {
  margin-top: 1rem;
  height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.abm-content{
  display: flex;
  flex-direction: column;
}

.center-items-abm {
  display: flex;
  justify-content: center;
}

.modal-display {
  display: contents;
}

.modal-backgroud {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-modal-zindex);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.modal-correcion-altura {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 30%;
  top: 0;
  width: 70%;
  height: 100%;
}

.contenedorVolver {
  display: flex;
  justify-content: right;
}

.tabla-panel {
  height: 60%;
}

.layout {
  display: grid;
  grid-template-columns: 5vw 1.7fr 1fr;
  grid-template-rows: 6vh 1.7fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    'a b b'
    'a c c'
    'a c c';
  height: 100%;
  width: 100%;
}

.sidebar-layout {
  grid-area: a;
}

.navbar-layout {
  grid-area: b;
}

.content-layout {
  min-height: 94vh;
  grid-area: c;
}

.contenedor-default{
  padding: 1em;
  border-radius: 10px;
  background-color: var(--color-terciario);
}

.card-empresa,
.card-extra,
.card-servicios,
.card-checkbox{
  border-radius: 0.5rem;
  background-color: var(--color-quinario);
  box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.1);
  width: 100%;
  overflow: hidden;
  max-width: 20rem;
}

.card-empresa {
  border-radius: 1rem;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  min-width: 21rem;
  min-height: 17rem;
}

.card-empresa:hover {
  transform: translateY(-10px);
}

.card-extra{
  margin-bottom: 0.5em;
  padding: 0.3em;
  min-width: 5em;
}

.card-servicios{
  padding: 0.8em;
  min-width: 30em;
}

.card-checkbox{
  padding: 0.4em;
  max-width: fit-content;
  min-width: auto;
}

.card-extra:hover{
  background-color: var(--hover-bg-color-secondary);
  transition: background-color 0.4s;
}

.card-content {
  padding: 1.5rem;
  font-size: 1rem;
  color: var(--color-cuaternario);
  line-height: 1.5;
}

.curso-pointer{
  cursor: pointer;
}

.dimensiones-tabla-texto {
  max-width: 10em;
  min-width: 10em;
}

.dimensiones-tabla-monto {
  max-width: 4em;
  min-width: 4em;
}

.dimensiones-tabla-iconos {
  max-width: auto;
}

input:disabled {
  background-color: #f0f0f0;
  color: #a0a0a0;
  cursor: not-allowed;
}

@media (max-width:871px) {
  .layout {
    grid-template-areas:
      'a b b'
      'c c c'
      'c c c';
  }

  .hide-on-phone {
    display: none;
  }

  .dimensiones-tabla-texto {
    max-width: 7em;
    min-width: 7em;
  }

  .dimensiones-tabla-iconos {
    max-width: 100%;
    min-width: 9em;
  }

}
