<div class="container">
    <div class="d-flex justify-content-between">
        <div>
            <h2>Ver Evento</h2>
        </div>
        <div *ngIf='eventoReenviarMail' class="col-4">
            <div class="alert alert-success">Mail Enviado exitosamente</div>
        </div>
        <div *ngIf='eventoErrorReenviarMail.condicional' class="col-4">
            <div class="alert alert-danger">{{eventoErrorReenviarMail.mensaje}}</div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group col-9 mb-4">
                <h5>Evento</h5>
                <input type="text" class="form-control" name="evento" [value]="evento.nombre" disabled>
            </div>

            <div class="form-group col-9 mb-4">
                <h5>Codigo</h5>
                <input type="text" class="form-control" name="codigo" [value]="evento.codigo" disabled>
            </div>

            <div class="form-group col-9 mb-4">
                <h5>Fecha de evento</h5>
                <input type="text" class="form-control" name="date" [value]="evento.inicio | date: 'dd/MM/yy'" disabled>
            </div>
                        
            <div class="form-group col-9 mb-4">
                <input id="time_start" type="hidden">
                <h5 class="form-label w-100">Hora inicio</h5>
                    <div class="d-inline-flex flex-row">
                        <div>
                            <div class="form-group">
                                <input class="form-control" [value]="inicio.hour" disabled>
                            </div>
                        </div>
                        <div>
                            <div class="p-1">:</div>
                        </div>
                        <div>
                            <div class="form-group">
                                <div class="form-group">
                                    <input class="form-control" [value]="inicio.minute" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
                
            <div class="form-group col-9 mb-4" id="time_end_div">
                <input id="time_end" type="hidden">
                <h5 class="form-label w-100">Hora final</h5>
                <div class="d-inline-flex flex-row">
                    <div>
                        <div class="form-group">
                            <div class="form-group">
                                <input class="form-control" [value]="fin.hour" disabled>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="p-1"> : </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <div class="form-group">
                                <input class="form-control" [value]="fin.minute" disabled>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="form-group col-9 mb-4">
                <h5>Tipo Evento</h5>
                <input type="text" class="form-control" id="subTipoEvento" [value]="evento.tipoEvento" disabled>
            </div>
            <div class="form-group col-9 mb-4">
                <h5>Salon</h5>
                <input type="text" class="form-control" id="salon" [value]="evento.empresa" disabled/>
            </div>
            <div class="form-group col-9 mb-4">
                <h5>Prespuesto</h5>
                <input type="text" class="form-control" id="presupuesto" [value]="evento.presupuesto" disabled>
            </div>
            <div class="form-group col-9 mb-4">
                <h5>Capacidad Adultos</h5>
                <input type="text" class="form-control" id="capacidad_adultos" [value]="evento.capacidad.capacidadAdultos" disabled>
            </div>
            <div class="form-group col-9 mb-4">
                <h5>Capacidad Ninos</h5>
                <input type="text" class="form-control" id="capacidad_ninos" [value]="evento.capacidad.capacidadNinos" disabled>
            </div>
        </div>

        <div class="col-md-6">
            <div>
                <div class="col-4 d-flex justify-content-between">
                    <h5>Cliente</h5>
                    <a (click)="verCliente()" class="inactiveLink"><i class="fas fa-eye text-muted fa-lg"></i></a>
                </div>
                <div class="row">
                    <div class="form-group mb-4 col-5">
                        <input type="text" class="form-control" id="cliente" [value]="evento.cliente.apellido + ', ' + evento.cliente.nombre" disabled>
                    </div>
                </div>
            </div>
            
            <div>
                <h5>Extras</h5>
                <div class="row mb-4">
                    <div class="form-group col-5">
                        <input type="text" class="form-control" name="extras" [value]="extras | siNo" disabled>
                    </div>
                    <div class="form-group col-7">
                        <div *ngFor="let extra of evento.listaExtra">
                            <small>{{extra.nombre}}</small>
                        </div>   
                    </div>
                </div>
            </div>
            
            <div>
                <h5>Extras Variables</h5>
                <div class="row mb-4">
                    <div class="form-group col-5">
                        <input type="text" class="form-control" name="extrasVariables" [value]="extrasVariables | siNo" disabled>
                    </div>
                    <div class="form-group col-7">
                        <div *ngFor="let extra of evento.listaExtraVariable">
                            <small>{{extra.nombre}}</small>
                        </div>  
                    </div>
                </div>
            </div>
            
            <div>
                <h5>Extras Catering</h5>
                <div class="row mb-4">
                    <div class="form-group col-5">
                        <input type="text" class="form-control" name="extraCatering" [value]="extraCatering | siNo" disabled>
                    </div>
                    <div class="form-group col-7">
                        <div *ngFor="let extra of evento.listaExtraCateringVariable">
                            <small>{{extra.nombre}}</small>
                        </div>  
                    </div>
                </div>
            </div>
            
            <div>
                <h5>Tipo Catering</h5>
                <div class="row mb-4">
                    <div class="form-group col-5">
                        <input type="text" class="form-control" name="tipoCatering" [value]="tipoCatering | siNo" disabled>
                    </div>
                    <div class="form-group col-7">
                        <div *ngFor="let extra of evento.listaExtraTipoCatering">
                            <small>{{extra.nombre}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="gap-2 d-flex justify-content-end">
            <div>
                <button (click)="volver()" class="btn btn-primary">Volver</button>
            </div>
            <div>
                <button (click)="descargarComprobante()" class="btn btn-secondary" disabled>Descargar Comprobante</button>
            </div>
            <div>
                <button (click)="reenviarMail()" class="btn btn-success"><i class="fa fa-envelope"></i> Reenviar Mail</button>
            </div>
        </div>
    </div>
</div>