<div class="d-flex card-extra">
    <div class="col-10 d-flex">
        <input type="checkbox" class="form-check-input me-2 flex-shrink-0" value={{extra.id}} 
        (change)="onCheckboxChange($event)" [checked]="isChecked()" [name]="'extraVariable' + extra.id" [id]="'extraVariable' + extra.id">
        <label class="form-check-label " [for]="'extraVariable' + extra.id">{{extra.nombre}} ${{extra.precio}}</label>
    </div>
    <div class="col-2 d-flex">
        <input class="form-control flex-shrink-0" type="number" [name]="'extraVariable' + extra.id" 
            min="0" oninput="this.value = Math.abs(this.value)" (change)="onChangeCantidad()" 
            [(ngModel)]="extra.cantidad" [disabled]="!isChecked()">
    </div>
</div>